@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* fonts */
  --font-poppins: var(--font-poppins);
  /* breakPoint */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 970px;
  --breakpoint-xl: 1200px;
}
.font-sf {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "SF Pro Display", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  font-family: var(--font-poppins);
}
